.client-view {
    background: rgba(61, 61, 61, 0.7);
    color: white;
}

.filters {
    border-style: dotted;
    border-color: black;
    border-width: 0px;
    border-right-width: 2px;
}

.filter {
    margin: 10px !important;
}