.client-header {
    background-color: #f4f4f4;
    border-bottom: 1px solid gray;
}

.client-navbar {
    background-color: #f4f4f4;
}

.client-navbar-option {
    background-color: #DEDEDE;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-radius: 10px;
    font-size: 20px;
}

.client-buy-options {
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

.client-config-button {
    width: 60px;
    height: 60px;
    padding: 5px;
}

.category-filter {
    border: 1px solid gray;
    width: 70px;
    height: 70px;
    padding: 10px;
    border-radius: 1000px;
    margin: 20px;
    margin-left: 40px;
}

.category-filter:hover {
    border: 1px solid green;
    width: 70px;
    height: 70px;
    padding: 5px;
    border-radius: 1000px;
    margin: 20px;
    margin-left: 40px;
}

.menu-options {
    background-color: #f4f4f4;
}


.buy-icon {
    width: 30px;
    height: 30px;
}

.buy-icon:hover {
    width: 25px;
    height: 25px;
}

.shopping-cart {
    width: 25px;
    height: 25px;
}

.client-credit {
    position:absolute;
    right: 10px;
 }

 .MuiSwitch-colorPrimary{
     color: #dd22dd;
 }