body{
    background-color: #fff;
}

.create-provider {
    width: 100%;
    background-color: white;
    margin-top: 20px;
    padding: 10px;
}

.map-container {
    border: 1px solid grey;
    border-radius: 10px;
}