.field {
    padding: 5px;
    padding-left: 15px;
}

.field input {
    border-radius: 15px;
    color: white;
}

.react-time-picker input {
    margin-right: 10px;
    margin-left: 10px;
}

.react-time-picker select {
    border-radius: 10px;
    color: white;
}

.react-time-picker__wrapper {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.4);
}

.dropdown-toggle {
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

.multiselect-container>li>a>label {
    padding: 2px;
}

.MuiSelect-root {
    color: white !important;
    margin-left: 15px !important;
}

.create-menu-button {
    margin: 15px;
    left: 3%;
}

.create-menu-title {
    padding: 30px;
}

.valid {
    margin-top: 5%;
}

.create-menu-button {
    color: white;
    padding: 5px;
}