.create-provider {
    background-color: cornsilk;
    margin-top: 5px;
    border: 3px solid grey;
    border-radius: 10px;
    padding: 10px;
}

.map-container {
    border: 3px solid grey;
    border-radius: 10px;
}