.map-container {
    border: 1px solid grey;
    border-radius: 10px;
}

.create-provider-button {
    padding: 5px;
    margin-bottom: 10px;
    color: white;
}

.form-item {
    margin-bottom: 10px;
}