.checkedIcon{
    width: 40px;
}

.index-info {
    background: rgba(61, 61, 61, 0.7);
    color: white;
}

.text-item {
    padding: 10px;
}

.burger-img img {
    height: 200px;
}

.title {
    margin: 20px;
}

.login-button {
    text-align: center;
    font-size: 35px;
    padding: 10px;
    margin-bottom: 30px;
    border-style: dotted;
    border-color: black;
    border-width: 2px;
}

.login-button:hover {
    text-align: center;
    font-size: 35px;
    padding: 10px;
    margin-bottom: 30px;
    border-style: dotted;
    border-color: black;
    border-width: 2px;
    background: rgba(103, 131, 78, 0.7);
}