
.wrapper {
    height: 800px;
}

.left {
    background-color: #fbfbfb;
}

.right {
    background-color: #d7d7d7;
    text-align: center;
    padding: 45px;
    margin-left: 10px;
}

.checkedIcon{
    width: 40px;
}

.textContainer{
    text-align:left;
}

.hamburgerImg{
    width: 36%;
}