.checkedIcon{
    width: 40px;
}

.index-info {
    background: rgba(61, 61, 61, 0.7);
    color: white;
}

.text-item {
    padding: 10px;
}

.burger-img img {
    height: 200px;
}

.title {
    margin: 20px;
}

.login-button {
    font-size: 35px;
    padding: 10px;
    margin-bottom: 30px;
}

.login-button:hover {
    font-size: 35px;
    padding: 10px;
    margin-bottom: 30px;
}