.language-menu {
    background: rgba(61, 61, 61, 0.7);
    border-radius: 3px;
    color: white;
    font-size: 17px !important;
}

.flag-option:hover {
    background: rgba(103, 131, 78, 0.7) !important;
}

.arrow-down {
    color: white !important;
}

.flag-options {
    background: rgba(61, 61, 61, 0.9) !important;
    border: 0px !important;
    font-size: 17px !important;
}

.country-flag img {
    float: left;
    padding-bottom: 5px;
}