body{
    background-color: #e8e8e8;
}

.provider-view {
    background-color: #e8e8e8;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    padding: 10px;
}

.provider-name {
    margin-bottom: 20px;
}

.menus-container {
    border: 3px solid black;
    border-radius: 10px;
}

.menu-edit-column {
    border-bottom: solid black;
    border-bottom-width: 3px;
}

.menu-column {
    background-color: whitesmoke;
}

.menu-column-pair {
    background-color: #CCD1D1;
}

.menu-column-value {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-column-title {
    border-right: solid black;
    border-right-width: 1px;
    font-weight: bold;
}

.button {
    width: 30px;
    height: 30px;
    margin: 2px;
    margin-left: 20px;
}

.button:hover {
    width: 30px;
    height: 30px;
    margin: 2px;
    margin-left: 20px;
    border: 3px solid #6374DF;
    border-radius: 10px;
}

.popup-content {
    width: 70% !important;
    height: 50% !important;
    position: fixed !important;
    left: 15% !important;
    top: 2% !important;
    background: rgb(255, 255, 255);
    width: 50%;
    border: 0px !important;
    padding: 0px !important;
    border-radius: 10px;
}

.new-menu-button {
    width: 80px;
    height: 40px;
    margin-left: 25px;
    margin-top: 5px;
    background-color: #58e0a5;
    border: 1px solid black;
}