
.provider-name {
    margin-bottom: 20px;
}

.menu-edit-column {
    border-bottom: solid black;
    border-bottom-width: 3px;
}

.menu-column {
    background-color: rgba(95, 95, 95, 0.6);
}

.menu-column-pair {
    background-color: rgba(54, 54, 54, 0.3);
}

.menu-column-value {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-column-title {
    border-right: solid black;
    border-right-width: 1px;
    font-weight: bold;
}

.add-menu-button {
    margin-bottom: 10px;
}

.button {
    width: 30px;
    height: 30px;
}

.button:hover {
    width: 30px;
    height: 30px;
    border: 3px solid rgb(209, 136, 46);
    border-radius: 10px;
}

.provider-add-menu {
    width: 80px;
    height: 40px;
    margin-left: 25px;
    margin-top: 5px;
    background-color: #58e0a5;
    border: 1px solid black;
}

.provider-credit {
    text-align: center;
}